/* Default */
@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}

:root {
    --primary-color: #00a5b4;
    --primary-hover-color: #088c98;
    --secondary-color: #cefbff;
    --bg-color: #f5fffc;
    --grey-1: #bdbdbd;
    --grey-2: #616161;
    --grey-3: #424242;
    --black-color: #424242;
    --white-color: #ffffff;
}

body {
    font-family: Montserrat;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--grey-3);
    font-family: MontserratBold;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

p {
    color: var(--grey-2);
    font-size: 16px;
    line-height: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--grey-3);
    transition: all 0.5s;
}
a:hover {
    text-decoration: none;
    color: var(--primary-color);
}

img {
    width: 100%;
}

.main-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: var(--primary-color);
    max-width: 156px;
    padding: 14px 0px;
    border-radius: 8px;
    transition: all 0.5s;
    color: var(--white-color);
    justify-content: center;
}
.main-btn:hover {
    background-color: var(--primary-hover-color);
    color: var(--white-color);
}
.order {
    width: 242px;
    padding: 12px;
}
.row {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Start Header Part */
.active .sidebar {
    transform: translate(0px) !important;
}
header {
    background: linear-gradient(180deg, #e5fffa 0%, rgba(229, 255, 249, 0.262661) 83.7%, rgba(229, 255, 249, 0) 100%);
}
header .header {
    padding: 25px 0px;
}
header .header .img img {
    width: 175px;
}
header .header nav {
    padding: 8px 0px;
}
header .header nav ul {
    justify-content: space-evenly;
}
header .slider h1 span {
    color: var(--primary-color);
}
header .slider .content p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 32px;
}

header .navbar_click_icon {
    display: none;
}
header .navbar_click_icon .icon {
    float: left;
    margin: 8px 0;
}
header .navbar_click_icon .icon i {
    font-size: 30px;
    color: var(--grey-2);
    cursor: pointer;
}
header .navbar_click_icon .icon i:hover {
    color: var(--grey-3);
}
header .sidebar::-webkit-scrollbar {
    visibility: hidden;
}
header .sidebar {
    overflow-y: scroll;
    box-shadow: -10px -10px 8px #eee;
    transform: translate(340px);
    position: fixed;
    width: 330px;
    height: 100%;
    right: 0;
    top: 0;
    background: var(--white-color);
    z-index: 99999999;
    transition: all 0.4s;
    transition-timing-function: linear;
}
header .sidebar .close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    cursor: pointer;
}
header .sidebar .close i {
    color: var(--primary-color);
}
header .sidebar .sidebar_list ul {
    padding: 40px;
    list-style: none;
}
header .sidebar .sidebar_list ul li {
    padding: 8px;
}
header .sidebar .sidebar_list ul li a {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: var(--grey-2);
    text-decoration: none;
}
header .sidebar .sidebar_list ul li i {
    color: var(--grey-2);
    padding-left: 10px;
}
header .sidebar .sidebar_list ul li div {
    display: none;
    padding: 10px 0;
}
header .sidebar .sidebar_list ul li div ul {
    padding: 0px;
}
header .sidebar .sidebar_list ul li div ul li {
    padding: 3px 0;
}
header .sidebar .sidebar_list ul li div ul li a {
    letter-spacing: 0px;
    color: var(--grey-2);
    text-transform: capitalize;
}
header .sidebar .sidebar_list ul li div ul li a i {
    color: var(--grey-2);
}
/* End Header Part */

/* Start Services Part */
#services {
    background-color: var(--bg-color);
    padding: 50px 0px;
}
#services h2 {
    margin-bottom: 24px;
}
#services .services {
    padding: 20px 0px;
}
#services .service {
    background-color: #fafafa;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    border-color: transparent;
}
.slick-slide {
    width: 269px !important;
    margin: 0px 5px !important;
}
.slick-list {
    padding: 30px 0px;
}
.slick-dots li button:before {
    font-size: 60px;
    color: var(--secondary-color);
}
.slick-dots li.slick-active button:before {
    color: var(--primary-color);
}
#services .service .card-title {
    width: 274px;
    height: 165px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
#services .service .card-title.first-card {
    background-color: #cefbff;
}
#services .service .card-title.second-card {
    background-color: #fff1ce;
}
#services .service .card-title.third-card {
    background-color: #ceffd0;
}
#services .service .card-title img.car {
    left: 24.91%;
    right: 0%;
    top: -7.21%;
    bottom: 16.22%;
    width: 205.75px;
}
#services .service .card-title img.gold {
    width: 183px;
    left: 33.21%;
    right: 0%;
    top: 7.21%;
    bottom: 20.27%;
}
#services .service .card-title img.manaat {
    width: 155px;
    left: 118px;
    top: 20px;
}
#services .service .card-title img.gold-bar {
    width: 179px;
    left: 95px;
    top: 42px;
}
#services .service .card-title img.smart-car {
    width: 40px;
    left: calc(50% - 40px / 2 - 97px);
    top: 9.01%;
    bottom: 72.97%;
}
#services .service .card-body {
    padding: 24px;
}
#services .service .card-body p {
    color: rgba(0, 0, 0, 0.35);
}
#services .service .card-body p span {
    color: var(--black-color);
}

/* End Services Part */

/* Start Bround Part */
#brounds {
    padding: 50px 0px;
}
#brounds .title a {
    color: var(--primary-color);
}
/* End Bround Part */

/* Start For You */
#for-you {
    background: #f0fffc;
    padding: 50px 0px;
}
#for-you .for-you {
    margin-bottom: 22px;
}
#for-you .box {
    background: var(--white-color);
    border-radius: 6px;
    padding: 32px 20px 5px;
}
#for-you .box .title {
    margin-bottom: 24px;
}
#for-you .box .title p span {
    color: var(--grey-1);
}
#for-you .box .title p {
    margin-bottom: 0px !important;
}
#for-you .box table img.currency {
    width: 36px;
    height: 36px;
}
#for-you .box table img.arrow {
    width: 24px;
    height: 24px;
}
#for-you .box table thead {
    text-align: center;
}
.table > :not(caption) > * > * {
    border: none !important;
}
#for-you .valyuta .line {
    border-bottom: 3px solid #f0fffc;
}
#for-you .valyuta input,
#for-you .valyuta select {
    border: none;
}
#for-you .valyuta input:focus,
#for-you .valyuta select:focus {
    box-shadow: none;
}
#for-you .valyuta select {
    margin-left: auto !important;
    width: 60px !important;
    padding: 0px !important;
}
#for-you .box {
    min-height: 253px;
}
/* End For You */

/* Start Media Queries */
@media screen and (max-width: 992px) {
    header .header .logo {
        display: none;
    }
    header .header nav ul {
        justify-content: space-between;
    }
    header .header .button a {
        margin-left: auto !important;
    }
    header nav,
    header .search_and_basket {
        display: none;
    }
    header .navbar_click_icon {
        display: block !important;
    }
    .main-btn {
        padding: 14px 14px;
    }
}

/* End Media Queries */
